<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>LearnUp - Online Course & Education HTML Template</title>
  </head>

  <body class="red-skin">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="preloader">
      <div class="preloader"><span></span><span></span></div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->

    <div id="main-wrapper">
      <!-- Navbar -->
      <app-navbar></app-navbar>

      <div class="clearfix"></div>

      <router-outlet></router-outlet>

      <!-- Email Subscription -->
      <app-subscription-form></app-subscription-form>

      <!-- Footer -->
      <app-footer></app-footer>
    </div>
  </body>
</html>
