<!-- ============================ Page Title Start================================== -->
<div class="ed_detail_head">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5">
        <div class="property_video">
          <div class="thumb">
            <img
              class="pro_img img-fluid w100"
              [src]="coursesByID.imageUrl"
              alt="{{ coursesByID.title }}"
            />
            <div class="overlay_icon">
              <div class="bb-video-box">
                <div class="bb-video-box-inner">
                  <div class="bb-video-box-innerup">
                    <a
                      href="https://www.youtube.com/channel/UCVXy0AjSpOsbHAIncPdcvsA"
                      data-toggle="modal"
                      data-target="#popup-video"
                      class="theme-cl"
                      ><i class="ti-control-play"></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-md-7">
        <div class="ed_detail_wrap">
          <ul class="cources_facts_list">
            <li class="facts-1" *ngFor="let tag of coursesByID.tags">
              {{ tag }}
            </li>
            <!-- <li class="facts-5">{{ coursesByID.tags[1] }}</li> -->
          </ul>
          <div class="ed_header_caption">
            <h2 class="ed_title">{{ coursesByID.title }}</h2>
            <ul>
              <li>
                <i class="ti-calendar"></i>
                {{ coursesByID.sessions }} weeks
              </li>
              <li>
                <i class="ti-control-forward"></i>Course Start Date:
                {{ coursesByID.startDate }}
              </li>
              <li>
                <i class="ti-user"></i>Session duration:
                {{ coursesByID.sessionDuration }} hours
              </li>
            </ul>
          </div>
          <div class="ed_header_short">
            <p>
              {{ coursesByID.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Course Detail ================================== -->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <!-- Overview -->
        <div class="edu_wraper">
          <h4 class="edu_title">Course Overview</h4>
          <p>{{ coursesByID.description }}</p>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-lg-4 col-md-4">
        <div class="ed_view_box style_2">
          <div class="ed_author">
            <div class="ed_author_box">
              <h4>Interested? Register Today!</h4>
              <!-- <span>Web Designer in Canada</span> -->
            </div>
          </div>

          <!-- Form -->
          <div class="ed_view_price pl-4">
            <div class="edu_wraper">
              <div class="review-form-box form-submit">
                <app-course-form></app-course-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Course Detail ================================== -->
