<h1 class="mb-3 text-center">All Courses</h1>
<!-- <div class="course-list">
  <div class="course-card" *ngFor="let course of allCourses">
    <img
      [src]="course.imageUrl"
      alt="{{ course.title }}"
      class="course-image"
    />
    <h3>{{ course.title }}</h3>
    <p>{{ course.description }}</p>
    <a [routerLink]="['/courses', course.id]" class="learn-more-button"
      >Learn More</a
    >
  </div>
</div> -->

<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 mb-3 g-4" *ngFor="let course of allCourses">
      <div class="card w-100 h-100">
        <img
          [src]="course.imageUrl"
          class="card-img-top img-fluid w-100 h-100"
          alt="{{ course.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ course.title }}</h5>
          <p class="card-text">
            {{ course.description }}
          </p>
          <a [routerLink]="['/courses', course.id]" class="btn btn-primary"
            >Learn More</a
          >
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 

<pre>
    {{ allCourses | json }}


</pre> -->
