<!-- ============================ Page Title Start================================== -->
<section class="page-title">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="breadcrumbs-wrap">
          <h1 class="breadcrumb-title">Full Width Courses</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Find Courses
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Full Width Courses  ================================== -->
<section class="pt-0">
  <div class="container">
    <!-- Row -->
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
          <!-- Cource Grid -->
          <div class="col-lg-4 col-md-6" *ngFor="let course of allCourses">
            <div class="education_block_grid style_2">
              <div class="education_block_thumb n-shadow">
                <a href="course-detail.html"
                  ><img [src]="course.imageUrl" class="img-fluid" alt=""
                /></a>
                <!-- <div class="cources_price">$520</div> -->
              </div>

              <div class="education_block_body">
                <h4 class="bl-title">
                  <a href="course-detail.html">{{ course.title }}</a>
                </h4>

                <ul class="cources_facts_list">
                  <li class="facts-1" *ngFor="let tag of course.tags">
                    {{ tag }}
                  </li>
                </ul>
              </div>

              <!-- <div class="cources_info_style3">
                <ul>
                  <li><i class="ti-eye mr-2"></i>8682 Views</li>
                  <li><i class="ti-time mr-2"></i>6h 40min</li>
                  <li><i class="ti-star text-warning mr-2"></i>4.7 Reviews</li>
                </ul>
              </div> -->

              <div class="education_block_footer">
                <div class="education_block_author">
                  <!-- <div class="path-img">
                    <a href="instructor-detail.html"
                      ><img
                        src="https://via.placeholder.com/500x500"
                        class="img-fluid"
                        alt=""
                    /></a>
                  </div> -->
                  <h5>
                    {{ course.description | slice : 0 : 100 }}
                  </h5>
                </div>
                <!-- <div class="foot_lecture">
                  <i class="ti-control-skip-forward mr-2"></i>54 lectures
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->
  </div>
</section>

<a id="back2Top" class="top-scroll" title="Back to top" href="#"
  ><i class="ti-arrow-up"></i
></a>
